In [ ]:
# 문자열 출력
print("Hello")
print()

Hello

In [1]:
# 'end'
print('Hello', end='\n')
print('Hello', end='')
print('Hello')
print()

Hello
HelloHello

In [ ]:
animal_leg = 4
print(animal_leg)

str1 = 'my'
str2 = 'name'
str3 = 'is Park Jongmin'
print(str1, str2, str3)

4
my name is Park Jongmin

In [ ]:
str1 = '''
line1
line2
line3
'''

print(str1)

line1
line2
line3

In [ ]:
str12 = "my" + "name"
str3 = 'is Jongmin'
strall = str12 + str3
print(strall)

mynameis Jongmin

In [ ]:
str1 = 'my' + ' name is'
name = input("what is your name?")
print(str1, name)

what is your name?Jongmin
my name is Jongmin

In [ ]:
age = input("나이는 ?")
city = None
if int(age) >= 60:
  city = input("살고싶는 곳? ")
print('당신의 나이는 ' + age + '살 입니다.')
age10 = int(age) + 10
print('10년 후 나이: ', age10)
if city is not None:
  print('살고싶은 곳: ', city)

나이는 ?60
살고싶는 곳? seoul
당신의 나이는  60 살 입니다.
10년 후 나이:  70
살고싶은 곳:  seoul

In [ ]:
num = input('3 digit number')
print(num[1])

3 digit number123
2

In [ ]:
print(9 + 10)
print(9 - 10)
print(30 / 5)
print(5 * 3)
print(2**5)
print(17 % 4)
print(17//4)

19
-1
6.0
15
32
1
4

In [ ]:
print(3 == 3)
print(3 != 3)
print(3 >= 1)
print(3 <= 1)

True
False
True
False

In [ ]:
print(5 != 5)
age = 18
print(age >= 15)
age = 13
print(age >= 15)

False
True
False

In [ ]:
True, False

(True, False)

In [ ]:
print(True and True)
print(1 and 3)
print(1 and 0)
print(True and False)
print(1 in [1, 2, 3, 4])

True
3
0
False
True

In [ ]:
print(True and True)
print(True and False)

True
False

In [ ]:
print(True or False)
print(True and False)
print(True or False)

True
False
True

In [ ]:
print( (1 == 1) and (10 > 3) )
print( (1 == 1) & (10 > 3) )

True
True

In [ ]:
print( not 1)
print( not False)
print( not 0)
print( not 'A')

False
True
True
False

In [ ]:
a = 5
b = 2
plus = a + b
mul = a * b
div = a / b
remainder = a % b
power = a ** b

print("합은 %d 입니다." % a)
print("%d 와 %d의 합은 %d 입니다." % (a, b, plus))
print('{} 와 {}의 합는 {}입니다.'.format(a, b, plus))
print("{} 와 {}의 나눈 값은 {:.2f}".format(a, b, div))
print(f"{a} 와 {b}의 합은 {plus}")

합은 5 입니다.
5 와 2의 합은 7 입니다.
5 와 2의 합는 7입니다.
5 와 2의 나눈 값은 2.50
5 와 2의 합은 7

In [ ]:
## 실습 3-2 
'''
숙박 인원이 
10명 이상이면
두개의 방으로 나누어서 예약해야 합니다.
10명 이하이면 
하나의 방으로 숙박 가능합니다.
'''
people = int(input("number of people"))

if people >= 10:
    print("두개의 방으로 나누어서 예약해야 합니다.")
else:
    print("하나의 방으로 숙박 가능합니다.")

number of people5
하나의 방으로 숙박 가능합니다.

In [ ]:
n = int(input("number"))
if n % 3 == 0 and n % 5 == 0:
    print("3과 5의 배수입니다.")
else:
    print(n)

number5
5

In [ ]:
score = -1
while score < 0 or score > 4.5:
    score = float(input("학점 : "))

if score == 4.5:
    print("A+")
elif score >= 4.0:
    print("A")
elif score >= 3.5:
    print("B+")
elif score >= 3.0:
    print("B")
elif score >= 2.5:
    print("C+")
else:
    print("F")

학점 : -1
학점 : -1
학점 : 1.2
F

In [ ]:
for num in range(1, 11, 1):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(2, 101, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for num in range(1, 101):
    if num % 2 == 0:
        print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(2, 10):
    print('{}단'.format(i))
    for j in range(1, 10):
        print('{0} * {1} = {2}'.format(i, j, i * j))
    print()

2단
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3단
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4단
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5단
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6단
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7단
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8단
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9단
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
str1 = "Hello World!"
a = [1,2,3,4,5]

dictdat1 = { 'key1':"value1", 'key2':"value2", 'key3':'value3'}
dictdat2 = { 11:"value1", 22:"value2", 33:'value3'}
dictdat3 = { 'key1':"value1", 'key2':(1,2,3,4,5), 'key3':[1,2,3,4,5] }

tuple1 = (1,2,3)

set1 = set([1, 2, 3, 4])

print(type(str1))

print(type(a))

print(type(dictdat1))
print(type(dictdat2))
print(type(dictdat3))

print(type(tuple1))

print(type(set1))

<class 'str'>
<class 'list'>
<class 'dict'>
<class 'dict'>
<class 'dict'>
<class 'tuple'>
<class 'set'>

In [ ]:
print(str1[0], str1[3], str1[-1])

H l !

In [ ]:
str1[0:5]

'Hello'

In [ ]:
print(str1[-1:-7:-1])

!dlroW

In [ ]:
print(str1[-6:])

World!

In [ ]:
print(str1[::2])

HloWrd

In [ ]:
print(' '.join(str1[::2]))

H l o W r d

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)

a = [1, 2, 'a', 3, 'b']
print(a)

print(a[1])
print(a[2:5])

a = [1, 2, 'a', 3, 'b']
print(a[-1])

print(a[-3])

[1, 2, 3, 4, 5]
[1, 2, 'a', 3, 'b']
2
['a', 3, 'b']
b
a

In [ ]:
list2 = [1, 2, 3, 2]
list2.remove(2)
print(list2)

[1, 3, 2]

In [ ]:
list3 = [1, 2, 3]
list3.extend([3, 4, [3, 5]])
print(list3)

[1, 2, 3, 3, 4, [3, 5]]

In [ ]:
season = ['봄', '여름', '가을', '겨울']
print('season의 요소의 개수 : ', len(season))
for one in season:
    print(one)

season의 요소의 개수 :  4
봄
여름
가을
겨울

In [ ]:
tuple1 = (1, 2, 3)
print(tuple1)
print(tuple1[1])

(1, 2, 3)
2

In [ ]:
tuple1[2] = 30

TypeError: ignored

In [ ]:
def num_plus(a, b):
    print("두 값의 합은 : ", a + b)
    return 1

In [ ]:
result = num_plus(3, 5)
if result == 1:
    print("정상적으로 수행 종료")

두 값의 합은 :  8
정상적으로 수행 종료

In [ ]:
def two_plus(num1, num2):
    print(num1, num2)
    return num1 + num2

In [ ]:
two_plus(100, 500)

100 500

600

In [ ]:
a = two_plus(100, 500)
print(a)

100 500
600

In [ ]:
def three_plus(num1, num2, num3):
    return num1 + num2 + num3

a = three_plus(1, 2, 3)
print(a)

6

In [ ]:
def max_three(num1, num2, num3):
    return max(num1, num2, num3)

a = max_three(1, 2, 3)
print(a)

3

In [ ]:
def multi_plus(*arg):
    sum = 0
    for one in arg:
        sum += one
    return sum

In [ ]:
value = multi_plus(3, 5, 6, 2, 3)
print("전체 합은 : ", value)

전체 합은 :  19

In [ ]:
robot = {
    "안녕": '반가워 난 에프라고해', 
    "날씨": '그래 날씨도 좋고, 너도 만나서 기쁘다 좋은 날이야',
    '취미': '내 취미는 게임이야',
    "이름": "난 에이미라고 해. 너는"
}

answer = None
while answer != 'q':
    answer = input("키워드 (종료: q): ")
    if answer in robot:
        print(robot[answer])

키워드 (종료: q): dd
키워드 (종료: q): dded
키워드 (종료: q): 안녕
반가워 난 에프라고해
키워드 (종료: q): 날씨
그래 날씨도 좋고, 너도 만나서 기쁘다 좋은 날이야
키워드 (종료: q): 취뮤
키워드 (종료: q): 취미
내 취미는 게임이야
키워드 (종료: q): q

:

In [ ]:
result = 0
def plus1(num):
    global result
    result += num
    return result

print(plus1(3))
print(plus1(7))

3
10

In [ ]:
result1 = 0
def plus1(num):
    global result1
    result1 += num
    return result1 

print(plus1(3))
print(plus1(7))

result2 = 0
def plus2(num):
    global result2 
    result2 += num 
    return result2 

print(plus2(2))
print(plus2(10))

result3 = 0
def plus3(num):
    global result3
    result3 += num
    return result3

print(plus3(2))
print(plus3(10))

3
10
2
12
2
12

In [ ]:
class Cal:
    result = 0

    def plus(self, num):
        self.result += num
        return self.result
    
    def minus(self, num):
        self.result -= num
        return self.result
    
    def divide(self, num):
        self.result /= num
        return self.result

    def mul(self, num):
        self.result *= num
        return self.result

    def zero(self):
        self.result = 0
        return self.result

cal1 = Cal()
cal2 = Cal()
cal3 = Cal()
cal4 = Cal()
cal5 = Cal()

print(cal1.plus(5))
print(cal1.zero())
print()

print(cal2.plus(6))

print(cal3.minus(3))

print(cal4.divide(2))

print(cal5.mul(5))

5
11
8
4.0
20.0
0