### 앙상블 기법
* 앙상블 (ensemble) 여러 머신러닝 모델을 연결하여 더 강력한 모델을 만드는 기법

### 랜덤 포레스트 (RandomForest)
* 조금씩 다른 여러 결정 트리의 묶음.
* 예측을 여러개로 해서 종합해서 최종 예측을 한다.

* 트리를 많이 만든다.
* 각각의 모델이 예측한다.
* 예측한 값들의 평균값을 구한다.

In [23]:
import seaborn as sns
import pandas as pd

In [2]:
tips = sns.load_dataset('tips')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [7]:
tips_have = tips.iloc[:220, :]  # 현재 가진 데이터
tips_new = tips.iloc[220:, :]   # 미래의 고객 데이터

tips_new.drop(['size'], axis=1, inplace=True)

tips_have.shape, tips_new.shape

c:\Users\posky\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

((220, 7), (24, 6))

In [11]:
tips_have['time'].value_counts()

Dinner    159
Lunch      61
Name: time, dtype: int64

In [12]:
keys = list(tips_have['time'].unique())
values = list(range(len(keys)))
dic = dict(zip(keys, values))
dic

{'Dinner': 0, 'Lunch': 1}

In [18]:
tips_have['time_n'] = tips_have['time'].map(dic).astype(int)
tips_new['time_n'] = tips_new['time'].map(dic).astype(int)

tips_have['time_n'].value_counts()

<ipython-input-18-1c7c31a9b60c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_have['time_n'] = tips_have['time'].map(dic).astype(int)
<ipython-input-18-1c7c31a9b60c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_new['time_n'] = tips_new['time'].map(dic).astype(int)

0    159
1     61
Name: time_n, dtype: int64

In [56]:
keys = list(tips_have['sex'].unique())
values = list(range(len(keys)))
dic = dict(zip(keys, values))
dic

{'Female': 0, 'Male': 1}

In [57]:
tips_have['sex_n'] = tips_have['sex'].map(dic).astype(int)
tips_new['sex_n'] = tips_new['sex'].map(dic).astype(int)

tips_have['sex_n'].value_counts()

<ipython-input-57-6439920e4ef1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_have['sex_n'] = tips_have['sex'].map(dic).astype(int)
<ipython-input-57-6439920e4ef1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_new['sex_n'] = tips_new['sex'].map(dic).astype(int)

1    141
0     79
Name: sex_n, dtype: int64

In [59]:
keys = list(tips_have['smoker'].unique())
values = list(range(len(keys)))
dic = dict(zip(keys, values))
dic

{'No': 0, 'Yes': 1}

In [60]:
tips_have['smoker_n'] = tips_have['smoker'].map(dic).astype(int)
tips_new['smoker_n'] = tips_new['smoker'].map(dic).astype(int)

tips_have['smoker_n'].value_counts()

<ipython-input-60-487b5bf2eb0d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_have['smoker_n'] = tips_have['smoker'].map(dic).astype(int)
<ipython-input-60-487b5bf2eb0d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tips_new['smoker_n'] = tips_new['smoker'].map(dic).astype(int)

0    141
1     79
Name: smoker_n, dtype: int64

In [14]:
sel = ['total_bill', 'tip', 'time_n']

X = tips_have[sel]
y = tips_have['size']

test_X = tips_new[sel]

In [36]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [16]:
model = RandomForestClassifier()
model.fit(X, y)

model.score(X, y)

1.0

In [19]:
from sklearn.model_selection import train_test_split

In [73]:
sel = ['total_bill', 'tip', 'time_n', 'sex_n', 'smoker_n']

X = tips_have[sel]
y = tips_have['size']
pred_X = tips_new[sel]

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    random_state=0
)

In [62]:
# RandomForest
depth_list = list(range(1, 30))
train_acc = []
test_acc = []

for i in depth_list:
    model = RandomForestClassifier(
        max_depth=i,
        random_state=0
    )
    model.fit(X_train, y_train)

    train_acc.append(model.score(X_train, y_train))
    test_acc.append(model.score(X_test, y_test))

data = {'train_acc': train_acc, 'test_acc': test_acc}
daf = pd.DataFrame(data, index=depth_list)
daf

    train_acc  test_acc
1    0.642424  0.600000
2    0.715152  0.600000
3    0.769697  0.600000
4    0.800000  0.563636
5    0.854545  0.600000
6    0.896970  0.581818
7    0.951515  0.581818
8    0.975758  0.581818
9    1.000000  0.581818
10   1.000000  0.581818
11   1.000000  0.581818
12   1.000000  0.581818
13   1.000000  0.581818
14   1.000000  0.581818
15   1.000000  0.581818
16   1.000000  0.581818
17   1.000000  0.581818
18   1.000000  0.581818
19   1.000000  0.581818
20   1.000000  0.581818
21   1.000000  0.581818
22   1.000000  0.581818
23   1.000000  0.581818
24   1.000000  0.581818
25   1.000000  0.581818
26   1.000000  0.581818
27   1.000000  0.581818
28   1.000000  0.581818
29   1.000000  0.581818

In [63]:
max_test = daf.loc[daf['test_acc'] == daf['test_acc'].max()]
max_test

   train_acc  test_acc
1   0.642424       0.6
2   0.715152       0.6
3   0.769697       0.6
5   0.854545       0.6

In [64]:
depth = max_test.loc[max_test['train_acc'] == max_test['train_acc'].max()].index[0]
depth

5

In [65]:
# kNN
k_list = list(range(1, 30))
train_acc = []
test_acc = []

for i in k_list:
    model = KNeighborsClassifier(n_neighbors=i)
    model.fit(X_train, y_train)

    train_acc.append(model.score(X_train, y_train))
    test_acc.append(model.score(X_test, y_test))

data = {'train_acc': train_acc, 'test_acc': test_acc}
daf = pd.DataFrame(data, index=k_list)
daf

    train_acc  test_acc
1    1.000000  0.472727
2    0.818182  0.527273
3    0.769697  0.509091
4    0.751515  0.563636
5    0.727273  0.527273
6    0.751515  0.527273
7    0.715152  0.563636
8    0.678788  0.545455
9    0.684848  0.563636
10   0.715152  0.563636
11   0.709091  0.563636
12   0.709091  0.563636
13   0.715152  0.545455
14   0.715152  0.563636
15   0.709091  0.563636
16   0.703030  0.563636
17   0.696970  0.563636
18   0.696970  0.545455
19   0.709091  0.545455
20   0.709091  0.545455
21   0.703030  0.600000
22   0.703030  0.600000
23   0.703030  0.600000
24   0.703030  0.600000
25   0.703030  0.581818
26   0.715152  0.600000
27   0.709091  0.600000
28   0.709091  0.600000
29   0.709091  0.600000

In [66]:
max_test = daf.loc[daf['test_acc'] == daf['test_acc'].max()]
max_test

    train_acc  test_acc
21   0.703030       0.6
22   0.703030       0.6
23   0.703030       0.6
24   0.703030       0.6
26   0.715152       0.6
27   0.709091       0.6
28   0.709091       0.6
29   0.709091       0.6

In [67]:
k = max_test.loc[max_test['train_acc'] == max_test['train_acc'].max()].index[0]
k

26

In [68]:
# Decision Tree
depth_list = list(range(1, 30))
train_acc = []
test_acc = []

for i in depth_list:
    model = DecisionTreeClassifier(
        max_depth=i,
        random_state=0
    )
    model.fit(X_train, y_train)

    train_acc.append(model.score(X_train, y_train))
    test_acc.append(model.score(X_test, y_test))

data = {'train_acc': train_acc, 'test_acc': test_acc}
daf = pd.DataFrame(data, index=depth_list)
daf

    train_acc  test_acc
1    0.696970  0.636364
2    0.727273  0.563636
3    0.781818  0.581818
4    0.793939  0.600000
5    0.842424  0.581818
6    0.872727  0.545455
7    0.909091  0.527273
8    0.915152  0.509091
9    0.951515  0.472727
10   0.963636  0.509091
11   0.987879  0.490909
12   1.000000  0.527273
13   1.000000  0.527273
14   1.000000  0.527273
15   1.000000  0.527273
16   1.000000  0.527273
17   1.000000  0.527273
18   1.000000  0.527273
19   1.000000  0.527273
20   1.000000  0.527273
21   1.000000  0.527273
22   1.000000  0.527273
23   1.000000  0.527273
24   1.000000  0.527273
25   1.000000  0.527273
26   1.000000  0.527273
27   1.000000  0.527273
28   1.000000  0.527273
29   1.000000  0.527273

In [69]:
max_test = daf.loc[daf['test_acc'] == daf['test_acc'].max()]
max_test

   train_acc  test_acc
1    0.69697  0.636364

In [70]:
depth = max_test.loc[max_test['train_acc'] == max_test['train_acc'].max()].index[0]
depth

1

In [74]:
model = DecisionTreeClassifier(
    max_depth=depth,
    random_state=0
)
model.fit(X_train, y_train)

pred = model.predict(pred_X)
pred

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 4, 2, 2, 2, 2, 2, 2, 4, 4, 4, 4, 2,
       2, 2], dtype=int64)

In [71]:
# SVC
model = SVC()
model.fit(X_train, y_train)

print(model.score(X_train, y_train))
print(model.score(X_test, y_test))

0.7090909090909091
0.6