### 08-2 카테고리 자료형

In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset('tips')
tips.shape

(244, 7)

In [3]:
tips['sex'] = tips['sex'].astype('str')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(3), float64(2), int64(1), object(1)
memory usage: 8.8+ KB
None

In [4]:
tips['sex'] = tips['sex'].astype('category')
print(tips.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.3 KB
None

## 09 문자열 처리하기
### 09-1 문자열 다루기

* 파이썬과 문자열

In [5]:
word = 'grail'
sent = 'a scratch'

* 인덱스로 문자열 추출하기

In [6]:
word = 'grail'
sent = 'a scratch'

print(word[0])
print(sent[0])

g
a

In [7]:
print(word[0:3])

gra

In [8]:
print(sent[-1])

h

In [9]:
print(sent[-9:-8])

a

In [10]:
print(sent[0:-8])

a

In [11]:
print(sent[2:-1])
print(sent[-7:-1])

scratc
scratc

In [12]:
s_len = len(sent)
print(s_len)

9

In [13]:
print(sent[2:s_len])

scratch

* 전체 문저열 추출하기

In [14]:
print(word[0:3])
print(word[:3])
print(sent[2:len(sent)])
print(sent[2:])
print(sent[:])
print(sent[::2])

gra
gra
scratch
scratch
a scratch
asrth

### 09-2 문자열 메서드

In [16]:
d1 = '40`'
m1 = "46'"
s1 = '52.837"'
u1 = 'W'

d2 = '73`'
m2 = "58'"
s2 = '26.302"'
u2 = 'W'

coords = ' '.join([d1, m1, s1, u1, d2, m2, s2, u2])
print(coords)

40` 46' 52.837" W 73` 58' 26.302" W

In [17]:
multi_str = """Guard: What? Ridden on a horse?
King Arthur: yes!
Guard: You're using coconuts!
King Arthur: What?
Guard: You've got ... coconut[s] and you're bangin' 'em together.
"""

print(multi_str)

Guard: What? Ridden on a horse?
King Arthur: yes!
Guard: You're using coconuts!
King Arthur: What?
Guard: You've got ... coconut[s] and you're bangin' 'em together.

In [18]:
multi_str_split = multi_str.splitlines()
print(multi_str_split)

['Guard: What? Ridden on a horse?', 'King Arthur: yes!', "Guard: You're using coconuts!", 'King Arthur: What?', "Guard: You've got ... coconut[s] and you're bangin' 'em together."]

In [19]:
guard = multi_str_split[::2]
print(guard)

['Guard: What? Ridden on a horse?', "Guard: You're using coconuts!", "Guard: You've got ... coconut[s] and you're bangin' 'em together."]

In [20]:
guard = multi_str.replace("Guard: ", "").splitlines()[::2]
print(guard)

['What? Ridden on a horse?', "You're using coconuts!", "You've got ... coconut[s] and you're bangin' 'em together."]

### 09-3 문저열 포매팅
* 문저열 포매팅하기

In [21]:
var = 'flesh wound'
s = "It's just a {}!"

print(s.format(var))
print(s.format('scratch'))

It's just a flesh wound!
It's just a scratch!

In [22]:
s = """Black Knight: 'Tis but a {0}.
King Arthur: A {0}? Your arm's off!
"""
print(s.format('scratch'))

Black Knight: 'Tis but a scratch.
King Arthur: A scratch? Your arm's off!

In [23]:
s = 'Hayden Planetarium Coordinates: {lat}, {lon}'
print(s.format(lat='40.7815` N', lon='73.9733` W'))

Hayden Planetarium Coordinates: 40.7815` N, 73.9733` W

* 숫자 데이터 포매팅하기

In [24]:
print('Some digits of pi: {}'.format(3.14159265359))

Some digits of pi: 3.14159265359

In [25]:
print("In 2005, Lu Chao of China recited {:,} digits of pi".format(67890))

In 2005, Lu Chao of China recited 67,890 digits of pi

In [26]:
print("I remember {0:.4} or {0:.4%} of what Lu Chao recited".format(7/67890))

I remember 0.0001031 or 0.0103% of what Lu Chao recited

In [27]:
print('My ID number is {0:05d}'.format(42))

My ID number is 00042

* % 연산자로 포매팅하기

In [28]:
s = 'I only know %d digits of pi' % 7
print(s)

I only know 7 digits of pi

In [29]:
print('Some digits of %(cont)s: %(value).2f' % {'cont': 'e', 'value': 2.718})

Some digits of e: 2.72

In [30]:
var = 'flesh wound'
s = f"It's just a {var}!"
print(s)

It's just a flesh wound!

In [31]:
lat = '40.7815`N'
lon = '73.9733`W'
s = f'Hayden Planetarium Coordinates: {lat}, {lon}'
print(s)

Hayden Planetarium Coordinates: 40.7815`N, 73.9733`W

### 09-4 정규식으로 문자열 처레이 날개 달기
* 정규식이란?

In [32]:
import re

tele_num = '1234567890'

In [33]:
m = re.match(pattern='\d\d\d\d\d\d\d\d\d\d', string=tele_num)
print(type(m))

<class 're.Match'>

In [34]:
print(m)

<re.Match object; span=(0, 10), match='1234567890'>

In [35]:
print(bool(m))

True

In [36]:
if m:
    print('match')
else:
    print('no match')

match

In [37]:
print(m.start())
print(m.end())
print(m.span())
print(m.group())

0
10
(0, 10)
1234567890

In [38]:
tele_num_spaces = '123 456 7890'
m = re.match(pattern='\d{10}', string=tele_num_spaces)
print(m)

None

In [39]:
if m:
    print('match')
else:
    print('no match')

no match

In [40]:
p = '\d{3}\s?\d{3}\s?\d{4}'
m = re.match(pattern=p, string=tele_num_spaces)
print(m)

<re.Match object; span=(0, 12), match='123 456 7890'>

In [41]:
tele_num_space_paren_dash = '(123) 456-7890'
p = '\(?\d{3}\)?\s?\d{3}\s?-?\d{4}'
m = re.match(pattern=p, string=tele_num_space_paren_dash)
print(m)

<re.Match object; span=(0, 14), match='(123) 456-7890'>

In [42]:
cnty_tele_num_space_paren_dash = '+1 (123) 456-7890'
p = '\+?1\s?\(?\d{3}\)?\s?\d{3}\s?-?\d{4}'
m = re.match(pattern=p, string=cnty_tele_num_space_paren_dash)
print(m)

<re.Match object; span=(0, 17), match='+1 (123) 456-7890'>

In [43]:
p = re.compile('\d{10}')
s = '1234567890'
m = p.match(s)
print(m)

<re.Match object; span=(0, 10), match='1234567890'>